
@font-face {
  font-family: "PT Serif Caption";
  font-style: normal;
  font-weight: 400;
  src: local("Cambria"), local("PT Serif Caption"), local("PTSerif-Caption"), url(https://themes.googleusercontent.com/static/fonts/ptserifcaption/v4/7xkFOeTxxO1GMC1suOUYWWhBabBbEjGd1iRmpyoZukE.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: local("Segoe UI Light"), local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Segoe UI Bold"), local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
.metro .text-rest-state {
  color: #000000;
}
.metro .text-rest2-state {
  color: rgba(0, 0, 0, 0.6);
}
.metro .text-hover-state {
  color: rgba(0, 0, 0, 0.8);
}
.metro .text-pressed-state {
  color: rgba(0, 0, 0, 0.4);
}
.metro #font .light {
  font-weight: 300;
}
.metro #font .normal {
  font-weight: normal;
  font-style: normal;
}
.metro #font .bold {
  font-weight: bold;
}
.metro #font .italic {
  font-style: italic;
}
.metro #font .segoe {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}
.metro #font .segoe-bold {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
}
.metro #font .segoe-light {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
}
.metro #font .cambria {
  font-family: 'Cambria_', 'PT Serif Caption', Verdana, Arial, Helvetica, sans-serif;
}
.metro #font .mono {
  font-family: 'Courier New', monospace;
}
.metro #font .serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.metro #font .sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.metro .header,
.metro .subheader {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.00em;
}
.metro .header {
  font-size: 4.8rem;
  line-height: 4.8rem;
}
.metro .subheader {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
}
.metro .subheader-secondary {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2.2rem;
  line-height: 2.2rem;
}
.metro .item-title {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
}
.metro .item-title-secondary {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.metro .navigation {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0.02em;
}
.metro .body-text {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  font-size: 11pt;
  line-height: 15pt;
  letter-spacing: 0.02em;
}
.metro .code-text {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  font-size: 11pt;
  line-height: 15pt;
  letter-spacing: 0.02em;
  font-family: 'Courier New', monospace;
}
.metro .tertiary-text {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: normal !important;
}
.metro .tertiary-text-secondary {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: normal !important;
  color: rgba(0, 0, 0, 0.6);
}
.metro .readable-text {
  font-family: 'Cambria_', 'PT Serif Caption', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2rem;
}
.metro .menu-title {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  font-size: 4rem;
}
.metro .menu-item {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.6);
  line-height: 2.2rem;
  font-size: 2.2rem;
}
.metro .menu-item-secondary {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4rem;
}
.metro h1,
.metro h2,
.metro h3,
.metro h4,
.metro h5,
.metro h6 {
  padding: 0;
  margin: 10px 0;
}
.metro h1 {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.00em;
  font-size: 4.8rem;
  line-height: 4.8rem;
}
.metro h2 {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
}
.metro h3 {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: bold;
}
.metro h4 {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
}
.metro h5 {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.metro h6 {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  font-size: 11pt;
  line-height: 15pt;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 9pt;
}
.metro h1 small {
  font-size: 19.25pt;
}
.metro h2 small {
  font-size: 13.75pt;
}
.metro h3 small {
  font-size: 11pt;
}
.metro h4 small {
  font-size: 11pt;
}
.metro a,
.metro .link {
  color: #2e92cf;
}
.metro a:hover,
.metro .link:hover {
  color: rgba(45, 173, 237, 0.8);
}
.metro a:focus,
.metro .link:focus,
.metro a:active,
.metro .link:active {
  color: rgba(45, 173, 237, 0.6);
}
.metro div,
.metro span,
.metro p {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.metro p {
  margin: 0 0 7pt;
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  font-size: 11pt;
  line-height: 15pt;
  letter-spacing: 0.02em;
}
.metro strong {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.metro .text-muted {
  color: #999999 !important;
}
.metro .text-info {
  color: #1ba1e2 !important;
}
.metro .text-alert {
  color: #e51400 !important;
}
.metro .text-warning {
  color: #fa6800 !important;
}
.metro .text-success {
  color: #60a917 !important;
}
.metro abbr {
  text-decoration: none;
  border-bottom: 1px #999999 dotted;
  cursor: help;
}
.metro address {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 7pt;
}
.metro blockquote {
  margin: 0;
  padding: 0;
  border-left: 4px #999999 solid;
  padding-left: 10px;
}
.metro blockquote small {
  color: #999999;
}
.metro blockquote small:before {
  content: "\2014 \00A0";
}
.metro blockquote.place-right {
  border: 0;
  border-right: 4px #999999 solid;
  padding-right: 10px;
  text-align: right;
}
.metro blockquote.place-right small:before {
  content: "";
}
.metro blockquote.place-right small:after {
  content: " \00A0 \2014";
}
.metro .unstyled {
  padding-left: 0;
  list-style: none;
}
.metro .unstyled li ul,
.metro .unstyled li ol {
  list-style: none;
  padding-left: 25px;
}
.metro .inline {
  list-style: none;
}
.metro .inline li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.metro ul,
.metro ol {
  margin-left: 5px;
  padding-left: 15px;
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  font-size: 11pt;
  line-height: 15pt;
  letter-spacing: 0.02em;
}
.metro ul li,
.metro ol li {
  line-height: 20px;
}
.metro ul li ul,
.metro ol li ul,
.metro ul li ol,
.metro ol li ol {
  padding-left: 25px;
}
.metro ol.styled {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  font-family: 'Cambria_', 'PT Serif Caption', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2rem;
}
.metro ol.styled > li {
  position: relative;
  margin: 0 0 6px 2em;
  padding: 4px 12px;
  list-style: none;
}
.metro ol.styled > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -2px;
  left: -2em;
  box-sizing: border-box;
  width: 2em;
  margin-right: 8px;
  padding: 4px;
  color: #fff;
  background: #666;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
.metro ol.styled.rounded > li:before {
  border-radius: 100%;
}
.metro dl dt,
.metro dl dd {
  line-height: 20px;
}
.metro dl dt {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
}
.metro dl dd {
  margin-left: 15px;
}
.metro dl.horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.metro dl.horizontal dd {
  margin-left: 180px;
}
.metro .prettyprint * {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  font-size: 11pt;
  line-height: 15pt;
  letter-spacing: 0.02em;
  font-family: 'Courier New', monospace;
  font-size: .9em !important;
  line-height: 10pt;
}